html, * {
  -webkit-font-smoothing: antialiased;
  font-family: $fontFamily-base;
  color: $color-greyish-brown-three;
}

#main,
.Root {
  min-width: 100%;
  min-height: 100%;
  font-family: $fontFamily-base;
  background-color: $background-color;
}

.Root {
  position: relative,
}

@mixin title ($color: $color-greyish-brown-three) {
  padding: 10px;
  color: $color;
  font-size: 18px;
  text-align: center;
}