html, * {
  -webkit-font-smoothing: antialiased;
  font-family: $fontFamily-base;
}

#main,
.Root {
  min-width: 100%;
  min-height: 100%;
  font-family: $fontFamily-base;
}

a {
  color: #4A4A4A;
}

.Root {
  position: relative;
  transition: all .5s ease-in;
}

@mixin title ($color: $color-greyish-brown-three) {
  padding: 10px;
  color: $color;
  font-size: 18px;
  text-align: center;
}