// See http://sass-lang.com/documentation/Sass/Script/Functions.html

$encodingReference: (
  ('<','%3C'),
  ('>','%3E'),
  ('"','\''),
  ('#','%23'),
  ('&','%26')
);

@function replaceString($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
    replaceString(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@function encodeSvg($svg) {
  @each $char, $encoded in $encodingReference {
    $svg: replaceString($svg, $char, $encoded);
  }
  @return 'data:image/svg+xml,' + $svg;
}
