.Footer {
  width: 100%;
  bottom: 10px;
  display: flex;
  position: absolute;
  justify-content: center;
  &-link {
    color: $color-brown-grey;
    font-size: $fontSize-small;
    text-decoration: none;
  }
}
