.Header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed;
  background-color: $background-color;

  @include media(tablet) {
    padding-right: 25px;
  }
  @include media(desktop) {
    align-items: base-line;
  }
  &-logo {
    height: 30px;
    margin-left: 20px;
  }
  &-links {
    display: none;
    @include media (desktop) {
      display: flex;
      align-items: center;
    }
    .Links {
      &-link {
        width: 150px;
        text-align: right;
      }
    }
  }
  &-modal {
    @include media(desktop) {
      display: none;
    }
  }
}
