.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media(tablet) {
    padding-right: 25px;
  }
  @include media(desktop) {
    align-items: base-line;
  }
  &-logo {
    width: 130px;
    height: 65px;
    @include media(tablet) {
      width: 200px;
      height: 100px;
    }
  }
  &-links {
    display: none;
    @include media (desktop) {
      display: flex;
      justify-content: space-between;
    }
    .Links-link {
      margin-left: 30px;
    }
  }
  &-modal {
    @include media(desktop) {
      display: none;
    }
  }
}
