.Notification {
  width: 100%;
  bottom: -100px;
  position: fixed;
  background-color: $color-greyish-brown-three;
  transition: bottom .5s cubic-bezier(.455,.03,.515,.955);
  &-button {
    @include cancelIcon();
    height: 16px;
  }
  &-wrapper {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-content {
    width: 100%;
    text-align: center;
    color: $color-white;
    * {
      color: $color-white;
    }
  }
  &--isOpen {
    bottom: 0
  }
}
