.Palette {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  &-colour {
    width: 140px;
    height: 15px;
    @include media(desktop) {
      width: 60px;
    }
  }
}