.Links {
  &-link {
    opacity: 0.8;
    font-size: 20px;
    line-height: 31px;
    font-weight: $light;
    text-decoration: none;
    color: $color-greyish-brown-three;
    transition: color .5s ease-in;
    &:hover,
    &--active {
      font-weight: $bold;
    }
  }
}
