.Links {
  &-link {
    opacity: 0.8;
    font-size: 28px;
    line-height: 31px;
    font-weight: $light;
    text-decoration: none;
    color: $color-blue-marine;
    border-bottom: 2px solid transparent;
    transition: color .5s ease-in;
    &:hover,
    &--active {
      color: $color-blue-green;
      border-bottom: 2px solid $color-blue-green;
    }
  }
}
