.ReactModal__Overlay {
  z-index: 1000;
}
.LinksModal {
  &-burgermenu {
    width: 30px;
    height: 20px;
    &:hover {
      cursor: pointer;
    }
  }

  &-modal {
    width: 100%;
    padding: 15px;
    height: 100vh;
    background-size: cover;
    position: relative;
    .Links {
      width: 100%;
      height: 100%;
      display: flex;
      padding: 15px;
      border-radius: 5px;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      &-link {
        margin: 10px 0;
        font-weight: 400;
        font-size: 23px;
        &--active {
          text-transform: uppercase;
          text-decoration: none;
          font-weight: $bold;
        }
      }
    }

    &-theme {
      &-dark {
        background-color: #141414;
        color: #A7A7A7;
      }
      &-light {
        background-color: #FFFFFF;
        color: #141414;
      }
    }
    &-button {
      @include cancelIcon($color: $color-greyish-brown-three, $size: 20px, $opacity: 1);
      position: absolute;
      right: 20%;
      top: 20%;
    }
  }
}
