.LinksModal {
  &-burgermenu {
    width: 45px;
    height: 20px;
    @include media(tablet) {
      width: 55px;
      height: 23px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &-modal {
    width: 100%;
    padding: 15px;
    height: 100vh;
    background: url(encodeSvg(svg-background()));
    background-size: cover;
    position: relative;
    .Links {
      width: 100%;
      height: 100%;
      display: flex;
      padding: 15px;
      border-radius: 5px;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border: 20px solid $color-light-blue-grey;
      &-link {
        margin: 10px 0;
        font-weight: 400;
        &--active {
          text-transform: uppercase;
          text-decoration: none;
          font-weight: $bold;
        }
      }
    }
    &-button {
      @include cancelIcon($size: 30px, $opacity: 1);
      position: absolute;
      right: 15%;
      top: 13%;
    }
  }
}
