.Contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
  @include media (tablet) {
    max-width: 600px;
  }
  @include media (desktop) {
    max-width: 1000px; 
  }

  &-title {
    font-size: 18px;
    font-weight: 700;
    color: $color-greyish-brown-three;
    padding-bottom: 10px;
  }
  &-socials {
    padding-top: 20px;
    .Contact-title {
      text-align: center;
      color: $color-greyish-brown-three;
    }
  }
  &-form {
    width: 80%;
    @include media(tablet) {
      width: 45%;
    }
  }
}
