.Contact {
  &-title {
    @include title();
  }
}

.Contact-getInTouch {
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-section {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    &-icon {
      width: 30px;
      height: 30px;
      @include media (desktop) {
        width: 50px;
        height: 50px
      }
    }
    &-text {
      width: 220px;
      font-size: 14px;
      text-align: center;
    }
  }
}

.Contact-followMe {
  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 10px;
    justify-content: center;
  }

  &-icon {
    width: 63px;
    margin: 5px;
    height: 57px;
  }
}
