.Home {
  width: 100%;
  position: relative;
  .Header {
    &-logo {
      display: none;
    }
  }
  &-icon {
    width: 120px;
    height: 110px;
  }
  &-text {
    font-size: 13px;
    text-align: center;
    padding: 15px 0;
    color: $color-greyish-brown-three;
    min-height: 120px;
    @include media(tablet) {
      font-size: 18px;
      max-width: 460px;
      padding: 35px 0;
    }
  }
  &-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    padding-top: 70px;
  }
  &-scroll {
    $size: 25px;
    width: $size;
    height: $size;
    fill: $color-greyish-brown-three;
    stroke: $color-greyish-brown-three;
    position: absolute;
    bottom: 10%;
    left: calc(50% - #{$size / 2});
    &:hover {
      cursor: pointer;
    }
  }
  &-works {
    justify-content: flex-start;
    &-title {
      font-size: 24px;
      margin-bottom: 15px;
      text-align: center;
    }
    &-content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 20px;
      max-width: 800px;
    }
    &-work {
      width: 200px;
      margin-bottom: 15px;
      @include media (tablet) {
        width: 320px;
        margin-bottom: 40px;
        max-height: 230px;
        overflow: scroll;
      }
      &-img {
        width: 100%;
        transform: scale(1);
        transition: .3s ease-in-out;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
    .Home-scroll {
      position: relative;
      margin-top: auto;
      margin-bottom: 50px;
      left: initial;
    }
  }
  &-contact {
    line-height: 30px;
    text-align: center;
    padding-top: 0;
  }
}
