.Project {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 60px 20px;
  transition: all .5s ease-in;
  @include media(tablet) {
    margin: 60px 40px;
  }
  @include media(desktop) {
    margin: 90px auto;
    max-width: 960px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
  }
  &-img {
    width: 100%;
    height: auto;
    &-wrapper {
      max-width: 300px;
      @include media(tablet) {
        max-width: 430px;
        height: 550px;
        max-height: 550px;
        overflow: hidden;
      }
    }
  }
  &-content {
    padding: 20px 0;
    @include media(desktop) {
      padding: 0;
      margin-left: 60px;
      max-width: 645px;
      display: flex;
      flex-direction: column;
    }
  }
  &-title {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    color: $color-greyish-brown-three;
  }
  &-description {
    text-align: center;
    line-height: 21px;
    font-size: 14px;
  }
  &-palette {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media (desktop) {
      margin-top: auto;
    }
    &-icon {
      width: 22px;
      height: 32px;
      margin-bottom: 10px;
      fill: $warm-grey-two;
    }
  }
  &-aside {
    margin: 10px 0;
    &-img {
      width: 100%;
      height: auto;
      &-wrapper {
        max-width: 300px;
        margin: 0 auto 10px;
        max-height: 300px;
        overflow: hidden;
        @include media(tablet) {
          margin: 10px;
          max-width: 168px;
        }
      }
    }
    &-content {
      @include media(tablet) {
        display: flex;
      }
    }
    &-footer {
      text-align: center;
    }
  }
}