.Works {
  padding: 5px 15px 15px;
  transition: padding .7s ease-in-out;
  @include media(tablet) {
    padding-top: 60px;
  }
  @include media(desktop) {
    margin: 0 auto;
    padding-top: 45px;
    max-width: 1250px;
  }
}
