.ContactForm {
  &-title {
    @include title();
  }
  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  &-message {
    .Input-field {
      height: 100px;
      resize: vertical;
    }
  }
  &-button {
    display: flex;
    padding: 5px 50px;
    border-radius: 6px;
    align-items: center;
    border: 1px solid transparent;
    background-color: white;
    transition: background-color .5s ease-in-out;
    &:hover {
      cursor: pointer;
      color: $color-white;
      background-color: $warm-grey-two;
      .ContactForm-button-text {
        color: $color-white;
      }
    }
    &-text {
      padding-right: 5px;
    }
  }
}
