.Socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 10px;
  justify-content: center;

  &-icon {
    width: 63px;
    margin: 5px;
    height: 57px;
    fill: $warm-grey-two;
    transition: fill .5s ease-in-out;
    &:hover {
      cursor: pointer;
      fill: lighten($warm-grey-two, 10%);
    }
  }
}
