$color-blue:                          #00A5EF;
$color-blue-dark:                     #053A6B;
$color-blue-eletric:                  #99DBF9;
$color-green:                         #4EB477;
$color-red:                           #E6563A;
$color-orange:                        #F97A29;
$color-white:                         #FFFFFF;
$color-gold:                          #F6AB30;
$color-gold--light:                   #FEFAF1;
$color-gold--background:              #FEF8EF;
$color-pink:                          #FC2960;
$color-base:                          #414A52;
$color-gray:                          #D2D2D2;
$color-gray-faded:                    #F0F4F7;
$color-amaranth:                      #FD8BA5;
$color-purple:                        #BF88E9;
$color-orange:                        #FFB88C;
$color-rose:                          #E66790;
$color-laurel:                        #B8D7D5;
$color-myrtle:                        #7B9CB3;
$color-air:                           #A2D8ED;
$color-lavender:                      #8E91C2;


$color-blueLight--pageLoader:         #e4ebf5;
$color-blueVeryLight--appBackground:  #F7F9FC;
$color-gray--appBackground:           #F9F9F9;
$color-base-border:                   #E6E6E6;

$base-slate-color:                    #62718A;
$base-slate-light-color:              #838D9C;
$base-navy-color:                     #313A49;
$base-amber-color:                    #F8CA2F;
$base-orange-color:                   #FA7455;


$gray-base-color:                     #414A52;
$gray-light-color:                    #A3A7AB;
$gray-medium-color:                   #5D646A;
$gray-dark-color:                     #32383D;
$gray-light-cyan:                     #DAE0E2;
$gray-light-slate:                    #7C8A93;

// Color number are the RGB percentage, ie rgb(93.3%,93.3%,93.3%)
$gray-99-color:                       #FCFCFC;
$gray-97-color:                       #F8F8F8;
$gray-95-color:                       #F2F2F2;
$gray-93-color:                       #EEEEEE;
$gray-92-color:                       #ECECEC;
$gray-91-color:                       #E8E8E8;
$gray-87-color:                       #DFDFDF;
$gray-82-color:                       #D2D2D2;
$gray-76-color:                       #C2C2C2;
$gray-75-color:                       #BFBFBF;
$gray-65-color:                       #A7A7A7;
$gray-52-color:                       #868686;
$gray-51-color:                       #828282;
$gray-50-color:                       #808080;
$gray-47-color:                       #2F2F2F;
$gray-33-color:                       #DDE0E3;
