$color-grey-pink:                          #E2D9CD;
$color-brown-grey:                         #4A4A4A;
$color-grey-light:                         #F0EAE2;
$color-grey-warm:                          #828282;
$color-beige:                              #F2ECE4;
$warm-grey-two:                            #979797;
$color-red:                                #DC5805;

$boder: 1px solid $warm-grey-two;
