$fontFamily-base: 'GillSans', 'Open Sans', sans-serif !important;
$fontFamily-serif: "source-serif-pro", "Times New Roman", Times, serif;
$fontFamily-mono: "source-code-pro", Monaco, Menlo, Consolas, "Courier New", monospace;

//SIZES
$fontSize-small:        10px;
$fontSize-medium:       14px;
$fontSize-large:        18px;

//WEIGHT
$light:               300;
$regular:             400;
$bold:                600;
