@font-face {
  font-family: 'fontBase';
  src: url('/static/fonts/light.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'fontBase';
  src: url('/static/fonts/regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontBase';
  src: url('/static/fonts/bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

$fontFamily-base: 'fontBase', 'Open Sans', sans-serif;
$fontFamily-serif: "source-serif-pro", "Times New Roman", Times, serif;
$fontFamily-mono: "source-code-pro", Monaco, Menlo, Consolas, "Courier New", monospace;

//SIZES
$fontSize-small:        10px;
$fontSize-medium:       14px;
$fontSize-large:        18px;

//WEIGHT
$light:               300;
$regular:             400;
$bold:                600;
