.GetInTouch {
  $height: 408px;
  $width: 200px;
  width: $width;
  height: $height !important;
  max-height: initial !important;
  .FlipCard {
    &-front,
    &-back {
      width: $width;
      height: $height;
      max-height: initial;
      display: flex;
      flex-direction: column;
    }
    &-footer {
      margin-top: auto;
    }
  }
  .ContactForm {
    padding: 0 10px;
  }
  .Input-field {
    resize: none;
  }
  &-icon {
    width: 40px;
    height: 40px;
  }
  &-title {
    font-size: 30px;
    font-weight: bold;
    color: $color-greyish-brown-three;
  }
  &-text {
    text-align: center;
  }
  &-content {
    flex-grow: 1;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}